<div class="row">
  <div class="tweet">
    <div class="row">
      <div class="col-md-2 content-image">
        <%= cl_image_tag(tweet.image, width: 150, class: 'img-responsive center-block') if tweet.image.url %>
      </div>
      <div class="content-text col-md-10">
        <%= tweet.text %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-9 content-time">
        <%= l tweet.created_at, format: :full %>
      </div>
      <div class="col-xs-1">
        <%= link_to 'View', tweet.url, target: '_blank' %>
      </div>
    </div>
  </div>
</div>
