// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .tweet-form {
//   text-align: center;
// }

.tweet-btn {
  float: right;
}

.log-out {
  float: right;
  padding-bottom: 5px;
}

#tweets {
  padding-top: 50px;
}

.tweet {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  background-color: #efefef;
}

.tweet > .row {
  padding-left: 5px;
  padding-right: 5px;
}

.content-text {
  padding-top: 5px;
  font-size: large;
}

.content-time {
  font-size: x-small;
}

.form-part {
  display: inline-block;
}
